<html lang="zh-CN">
    <head>
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <title>产品自动化测试平台</title>
    </head>
    <body role="document">
        <!--导航栏-->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <div class="container">
                <a class='navbar-brand' href="#">&nbsp;</a>
                <ul class="nav justify-content-center"></ul>
                <ul>
                    <li class="nav-link"><a style="color: white" href="#">{{user}}</a></li>
                    <li class="nav-link"><a style="color: white" href="/logout/">退出</a></li>
                </ul>
            </div>
        </nav>
    </body>
    <!--设置列表列表-->
    <div class="row" style="padding-top: 80px">
        <div class="col-ma-13">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th><th>设置名称</th><th>设置的值</th>
                    </tr>
                </thead>
                <tbody>
                    {% for set in sets %}
                    <tr>
                        <td>{{bug.id}}</td>
                        <td>{{bug.setname}}</td>
                        <td>{{bug.setvalue}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</html>